sentence-transformers==3.2.0
langchain
flask
pypdf
python-dotenv
pinecone[grpc]==5.4.0
langchain-pinecone==0.2.2
langchain_community==0.3.3
langchain_openai==0.2.5
langchain_experimental
langchain-huggingface==0.1.0
pinecone-client==6.0.0
-e .